    body{
        opacity:0.9;
        width:100%;
        text-align:center;
        color:yellow;
    }
    
    .radioBtns{
        color:black;
    }
    #pbtns{
        /*position: relative;*/
        margin: auto;
    }

    #layoutID{
        display: inline-block;
        text-align: left;
        padding:10px;
        border-radius: 10px;
        background-color: white;
        
    }
    .submit{
        border-radius: 25px;
        /*background: #73AD21;*/
        padding: 20px; 
        width: 250px;
        /*height: 150px; */
    }
    
    input {
        font-size: 3em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }