body{
    background-color: lightblue;
}
.item{
    margin:auto;
    color:tomato;
    padding-top: 50px;
}
input[type=submit] {
        padding: 12px 15px;
        width: 50%;
        background-color: red;
        color: black;
        margin: 8px 0;
        border: none;
        border-radius: 6px;
        cursor: pointer;
}
.item2{
    color:gray;
}
.container{
    display:flex;
}
.finalmessage{
    border-style:solid;
    border-radius: 5px;
    letter-spacing: 3px;
}
#sub:hover{
    background-color: tomato;
}

#entertext{
    line-height: 0.8;
    text-decoration: underline;
}
